<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="error-logado">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <style>

   :host {
   display: block;
   }

   .titulo-green-30{
   color: MediumAquaMarine ;
   font-weight: bold;
   font-size: 30px
   }

   .container{
   @apply(--layout-horizontal);
   @apply(--layout-center-justified);
   }

   paper-button {
   background-color: MediumAquaMarine;
   color: white;
   }

   </style>

   <div class="jumbotron" align="left">
       <div class="titulo-green-30" align="center">Error al realizar el login</div></p></p></p>
       <p class="text-muted">Algunos de los datos introducidos no son correctos.</p></p>
   <div class="container">
       <paper-button raised class="custom indigo" on-click="volverlogin">Volver a intentarlo</paper-button>
   </div>
   </div>

 </template>

 <script>

   class ErrorLogado extends Polymer.Element {
     static get is() { return 'error-logado'; }
     static get properties() {
       return {
      };
     }

     volverlogin(){
       this.dispatchEvent(new CustomEvent("eventlogin", {"detail":{}}))
     }
   }

   window.customElements.define(ErrorLogado.is, ErrorLogado);
 </script>
</dom-module>
