<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/cells-modal-alert/cells-modal-alert.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../bower_components/cells-bottom-modal/cells-bottom-modal.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">

<dom-module id="error-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

    :host {
    display: block;
    }

    .titulo-green-30{
    color: MediumAquaMarine ;
    font-weight: bold;
    font-size: 30px
    }

    .container{
    @apply(--layout-horizontal);
    @apply(--layout-center-justified);
    }

    paper-button {
    background-color: MediumAquaMarine;
    color: white;
    }

    </style>

    <iron-ajax
    id="postAccount"
    url="http://localhost:3000/lowcostbank/v1/users/{{userId}}/accounts"
    method="POST"
    handle-as="json"
    on-response="managePostAccountResponse"
    on-error="manageErrorPostAccountResponse">
    </iron-ajax>

    <div class="jumbotron" align="left">
        <div class="titulo-green-30" align="center">Nueva cuenta</div>  <br><br>
        <p class="text-muted">No dispone de cuentas actualmente. Contrátese una de forma gratuita </p>  <br><br>
    <div class="container">
        <paper-button raised class="custom indigo" on-click="postaccount">Aceptar</paper-button>
    </div>
    </div>

    <cells-modal-alert
    toast
    id='errorbox'
    type="error"
    horizontal-align="left" dynamic-align
    icon="coronita:error">
    </cells-modal-alert>

  </template>

  <script>

    class ErrorCuentas extends Polymer.Element {
      static get is() { return 'error-cuentas'; }
      static get properties() {
        return {
          idcliente:{
            type: Number
          },
          estado:{
            type: String,
            value: "A"
          }
        };
      }

      postaccount(){
        this.userId = window.sessionStorage.getItem('userId');
        this.first_name = window.sessionStorage.getItem('first_name');
        this.last_name = window.sessionStorage.getItem('last_name');
        this.$.postAccount.params.userId = this.userId
        this.$.postAccount.generateRequest()
      }

      managePostAccountResponse(data){
        var userId = this.userId
        this.dispatchEvent(new CustomEvent("eventlogged", {"detail":{"userId":userId, "first_name":this.first_name, "last_name":this.last_name}}))
      }

      manageErrorPostAccountResponse(error){
        this.error_message = "Error en el alta de la cuenta";
        this.$.errorbox.content = this.error_message;
        this.$.errorbox.open()
        this.logado = false
      }

    }

    window.customElements.define(ErrorCuentas.is, ErrorCuentas);
  </script>
</dom-module>
