<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../VTB.jpg">


<dom-module id="login-usuario">
 <template>
   <link rel="stylesheet" href="/styles/flaty/bootstrap.min.css">
   <style>
   :host {
     display: block;
     width: 100%;
     text-align: center;
   }

   .titulo-green-40{
       color: MediumAquaMarine ;
       font-weight: bold;
       font-size: 40px
     }

     paper-button {
        background-color: MediumAquaMarine;
        color: white;
     }
     paper-button.blue {
   background-color: blue;
   color: white;
      }

     .container{
     @apply(--layout-horizontal);
     @apply(--layout-center-justified);
      }

   </style>

              <div class="jumbotron" align="left">
                <img src="VTB.jpg" alt="Logo VTB" width=150 height=80 align="right"><br><br>
                <div class="titulo-green-40">Bienvenido a VTB</div><br><br>
                <p class="text-muted">Entre o dese de alta completamente gratis</p>
                <paper-input id="email"
                            label="email"
                            value="{{email::input}}"
                            required
                            error-message="Cuenta de correo invalida"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                  <iron-icon icon="mail" slot="prefix"></iron-icon>
                </paper-input>
                <paper-input id="password"
                            value="{{password::input}}"
                            label="password"
                            type="password"
                            required
                            error-message="Minimo 8 caracteres, un numero, mayusculas y minusculas"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                  <iron-icon icon="https" slot="prefix"></iron-icon>
                </paper-input>
                <br><br>
                <div class="container">
                  <paper-button raised on-click="dologin">Aceptar</paper-button>
                  <paper-button raised on-click="dosignin">Usuario nuevo</paper-button>
                </div>
                  <br>
                  <div class="container">
                  <paper-button.blue raised on-click="cerrarventana">Salir de la aplicacion</paper-button.blue>
                      </div>
                      <br>


                      <cells-modal-alert
                      toast
                      id='errorbox'
                      type="error"
                      icon="coronita:error">
                      </cells-modal-alert>

              </div>


              <iron-ajax
               id="doLogin"
               url="http://localhost:3000/lowcostbank/v1/login"
               handle-as="json"
               content-type="application/json"
               method="POST"
               on-response="manageLoginResponse"
               on-error="manageErrorLoginResponse"
               />
              </iron-ajax>


 </template>

 <script>

   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         },
         password: {
           type: String
         },
         logado:{
           type: Boolean,
           value: false
         },
         first_name:{
           type: String
         },
         last_name:{
           type: String
         },
         userId:{
           type: Number
         }
       };
     }


     dologin(){
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       this.$.doLogin.body = JSON.stringify(loginData);
       this.$.doLogin.generateRequest();

     }


     manageLoginResponse(data){
       this.logado = true
       window.sessionStorage.setItem('userId', data.detail.response.userId );
       window.sessionStorage.setItem('first_name', data.detail.response.first_name );
       window.sessionStorage.setItem('last_name', data.detail.response.last_name );
       this.err_message = "El login se ha realizado correctamente ";
       this.dispatchEvent(new CustomEvent("eventlogged", {"detail":{"userId":data.detail.response.userId, "first_name":data.detail.response.first_name, "last_name":data.detail.response.last_name }}))

     }


     manageErrorLoginResponse(error){
       this.error_message = "Error al hacer el login";
       this.$.errorbox.content = this.error_message;
       this.$.errorbox.open()
       this.logado = false
       this.dispatchEvent(new CustomEvent("eventnotlogged", {"detail":{}}))

     }

     dosignin(){
       this.dispatchEvent(new CustomEvent("eventsignin", {"detail":{}}))
     }

     cerrarventana(){
       window.close()
     }

   }

   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
