<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/cells-modal-alert/cells-modal-alert.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../bower_components/cells-bottom-modal/cells-bottom-modal.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">

<dom-module id="visor-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

       .flex-center-justified {
         @apply(--layout-horizontal);
         @apply(--layout-center-justified);
       }

       .flex-reversed {
         @apply(--layout-horizontal-reverse);
       }

      paper-button {
         background-color: MediumAquaMarine;
         color: white;
       }

      .titulo-green-40{
         color: MediumAquaMarine ;
         font-weight: bold;
         font-size: 40px
       }

     .titulo-green-30{
         color: MediumAquaMarine ;
         font-weight: bold;
         font-size: 30px
       }

      body {
        @apply --paper-font-common-base;
        font-size: 14px;
        margin: 0;
        padding: 24px;
        background-color: var(--paper-grey-50);
      }

      table {
          border-collapse: collapse;
          width: 100%;
          @apply --paper-font-body1;
      }

      td {
          text-align: left;
          padding: 8px;
          color: var(--secondary-text-color);
          @apply --paper-font-body1;
      }
      th {
          text-align: left;
          border-bottom: 4px solid #ccc;
          padding: 14px;
          color: var(--primary-text-color);
          @apply --paper-font-body1;
      }

      tr {
        border-bottom: 1px solid #ccc;
      }

    </style>


    <iron-ajax id="getMovementsbyAccount"
    url="http://localhost:3000/lowcostbank/v1/accounts/{{iban}}/movements"
    handle-as="json"
    on-response="manageMovementResponse"
    on-error="manageMovementErrorResponse">
    </iron-ajax>

    <iron-ajax id="doLogout"
    url="http://localhost:3000/lowcostbank/v1/logout/{{userId}}"
    method="POST"
    handle-as="json"
    on-response="manageLogoutResponse"
    on-error="manageErrorLogoutResponse">
    </iron-ajax>

    <div class="container">
    <div class="container flex-reversed">
      <paper-button raised on-click="goputuser">Usuario</paper-button>
      <paper-button raised on-click="gologout">Logout</paper-button>
    </div>

    <br><br>
    <div class="titulo-green-30" align="center">Detalle de movimientos </div>
    <br><br>
    <p class="text-muted">Estos son los movimientos de su cuenta {{iban}}</p>
    <br>

      <table>
       <tr>
         <th>Movimiento</th>
         <th>Importe</th>
         <th>Moneda</th>
         <th>Tipo</th>
         <th>Fecha</th>
         <th>Descripción</th>
         <th></th>
       </tr>
       <template is="dom-repeat" items="[[movements]]">
        <tr>
          <td><span>[[item.movementId]]</span></td>
          <td><span>[[item.amount]]</span></td>
          <td><span>[[item.currency]]</span></td>
          <td><span>[[item.type]]</span></div>
          <td><span>[[item.date]]</span></td>
          <td><span>[[item.detail]]</span></td>
          <td>
            <paper-icon-button icon="description" title="Modificar" on-click="goPutMovement"> </paper-icon-button>
            <paper-icon-button icon="delete" title="Cancelar" on-click="doDeleteMovement"> </paper-icon-button>
          </td>
        </tr>
        </template>
      </table>
    </div>
    </br></br>

    <div class="container">
    <div class="container flex-center-justified">
      <paper-button  on-click="goNewMovement"> Nuevo movimiento </paper-button>
      <paper-button  on-click="goaccounts"> Volver a cuentas </paper-button>
    </div>
    </br></br>
  </div>
</div>
      <cells-modal-alert
      toast
      id='errorbox'
      type="error"
      horizontal-align="left" dynamic-align
      icon="coronita:error">
      </cells-modal-alert>

</template>

  <script>
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          movements: {
            type: Array,
          },
          iban:{
            type: String,
          },
          userId:{
            type: Number
          },
          movementId:{
            type: Number
          },
          amount:{
            type: Number
          },
          currency:{
            type: String
          },
          type:{
            type: String
          },
          date:{
            type: Date
          },
          detail:{
            type: String
          }
        };
      }

      goNewMovement(e){
        var iban = this.iban
        this.dispatchEvent(new CustomEvent("eventpostmovement", {"detail":{"iban":iban}}))
      }

      getMovementsbyAccount(iban){
        this.iban = iban
        this.$.getMovementsbyAccount.generateRequest()
      }

      manageMovementResponse(data){
        this.movements=data.detail.response
        this.movements = JSON.parse(JSON.stringify(data.detail.response));
      }

      goPutMovement(e){
        this.movementId =e.model.item.movementId
        this.amount =e.model.item.amount
        this.currency =e.model.item.currency
        this.detail =e.model.item.detail
        this.date =e.model.item.date
        this.type =e.model.item.type
        this.iban =e.model.item.iban
        this.dispatchEvent(new CustomEvent("eventputmovement", {"detail":{"movementId":this.movementId, "detail":this.detail, "amount":this.amount, "currency":this.currency, "type":this.type, "date":this.date, "iban":this.iban}}))
      }

      manageMovementErrorResponse(error){
        var userId = this.userId
        this.dispatchEvent(new CustomEvent("eventresturnaccounts", {"detail":{"userId":userId}}))
      }

      goaccounts(){
        var userId = window.sessionStorage.getItem('userId');
        var first_name = window.sessionStorage.getItem('first_name');
        var last_name = window.sessionStorage.getItem('last_name');
        this.dispatchEvent(new CustomEvent("eventloadaccounts", {"detail":{"userId":userId, "first_name":first_name, "last_name":last_name}}))
      }

      gologout(e){
        var userId = window.sessionStorage.getItem('userId');
        this.userId = userId;
        this.islogout = true
        this.$.doLogout.generateRequest();
      }

      manageLogoutResponse(data){
        var first_name=  window.sessionStorage.getItem('first_name');
        var last_name=  window.sessionStorage.getItem('last_name');
        var userId=  window.sessionStorage.getItem('userId');
        // this.logado = true
        this.dispatchEvent(new CustomEvent("eventlogout", {"detail":{"userId":userId, "first_name":first_name, "last_name":last_name }}))
        }

      manageErrorLogoutResponse(error){
        this.error_message = "Error al hacer el logout";;
        this.$.errorbox.content = this.error_message;
        this.$.errorbox.open()
        }

      doDeleteMovement(e){
        this.movementId =e.model.item.movementId
        this.amount =e.model.item.amount
        this.currency =e.model.item.currency
        this.detail =e.model.item.detail
        this.date =e.model.item.date
        this.type =e.model.item.type
        this.dispatchEvent(new CustomEvent("eventdeletemovement", {"detail":{"movementId":this.movementId,"date":this.date, "detail":this.detail, "amount":this.amount, "currency":this.currency, "type":this.type }}))
        }

      goputuser(e){
        var userId = window.sessionStorage.getItem('userId')
        var last_name = window.sessionStorage.getItem('last_name')
        var first_name = window.sessionStorage.getItem('first_name')
        var last_name = window.sessionStorage.getItem('last_name')
        this.dispatchEvent(new CustomEvent("eventputuser", {"detail":{"userId":userId, "first_name":first_name, "last_name":last_name}}))
        }

    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
