<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/cells-modal-alert/cells-modal-alert.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../bower_components/cells-bottom-modal/cells-bottom-modal.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">

<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        background-color: #E8F0F7
      }

       .flex-center-justified {
         @apply(--layout-horizontal);
         @apply(--layout-center-justified);
       }

       .flex-reversed {
         @apply(--layout-horizontal-reverse);
       }

      paper-button {
         background-color: MediumAquaMarine;
         color: white;
       }

      .titulo-green-40{
         color: MediumAquaMarine ;
         font-weight: bold;
         font-size: 40px
       }
     .titulo-green-30{
         color: MediumAquaMarine ;
         font-weight: bold;
         font-size: 30px
       }

      body {
        @apply --paper-font-common-base;
        font-size: 14px;
        margin: 0;
        padding: 24px;
        background-color: var(--paper-grey-50);
      }

      table {
          border-collapse: collapse;
          width: 100%;
          @apply --paper-font-body1;
      }

      td {
          text-align: left;
          padding: 8px;
          color: var(--secondary-text-color);
          @apply --paper-font-body1;
      }
      th {
          text-align: left;
          border-bottom: 4px solid #ccc;
          padding: 14px;
          color: var(--primary-text-color);
          @apply --paper-font-body1;
      }

      tr {
        border-bottom: 1px solid #ccc;
      }

    </style>


    <iron-ajax
     id="getAccounts"
     url="http://localhost:3000/lowcostbank/v1/users/{{userId}}/accounts"
     handle-as="json"
     on-response = "manageAccountResponse"
     on-error = "manageAccountErrorResponse">
     </iron-ajax>

     <iron-ajax
     id="postAccount"
     url="http://localhost:3000/lowcostbank/v1/users/{{userId}}/accounts"
     method="POST"
     handle-as="json"
     on-response="managePostAccountResponse"
     on-error="manageErrorPostAccountResponse">
     </iron-ajax>

     <iron-ajax
     id="doLogout"
     url="http://localhost:3000/lowcostbank/v1/logout/{{userId}}"
     method="POST"
     handle-as="json"
     on-response="manageLogoutResponse"
     on-error="manageErrorLogoutResponse">
     </iron-ajax>

     <iron-ajax
     id="deleteAccount"
     url="http://localhost:3000/lowcostbank/v1/accounts/{{iban}}"
     method="DELETE"
     on-response="manageDeleteAccountResponse"
     on-error="manageErrorDeleteAccountResponse">
     </iron-ajax>


<div class="container">
<div class="container flex-reversed">
  <paper-button raised on-click="goputuser">Usuario</paper-button>
  <paper-button raised on-click="gologout">Logout</paper-button>
</div>

    <br><br>
    <div class="titulo-green-40" align="center">¡Bienvenido de nuevo, [[first_name]] [[last_name]] ! </div>
    <br><br>
    <p class="text-muted">Estas son sus cuentas</p>
    <br>

          <table>
           <tr>
             <th>IBAN</th>
             <th>Saldo</th>
             <th>Moneda</th>
             <th>Descripción</th>
             <th></th>
           </tr>
           <template is="dom-repeat" items="[[accounts]]">
            <tr>
              <td><span>[[item.iban]]</span></td>
              <td><span>[[item.balance]] </span></td>
              <td><span>[[item.currency]]</span></td>
              <td><span>[[item.alias]]</span></div>
              <td>
                <paper-icon-button icon="list" title="Movimientos" on-click="getMovements"> </paper-icon-button>
                <paper-icon-button icon="description" title="Modificar" on-click="goPutAccount"> </paper-icon-button>
                <paper-icon-button icon="delete" title="Cancelar" on-click="deleteAccount"> </paper-icon-button>
              </td>
           </tr>
         </template>
        </table>
      </div>
      </br></br>

        <div class="container">
        <div class="container flex-center-justified">
          <paper-button on-click="postaccount">Alta de cuenta</paper-button></br></br>
        </div>
        </br></br>
      </div>
    </div>

    <cells-modal-alert
    id='successbox'
    type="success"
    icon="coronita:donation">
    </cells-modal-alert>

    <cells-modal-alert
    toast
    id='infobox'
    type="info"
    first-button-label="Aceptar"
    first-button-classes="link"
    on-first-button-click="_continuar"
    icon="coronita:info">
    </cells-modal-alert>

    <cells-modal-alert
    toast
    id='errorbox'
    type="error"
    horizontal-align="left" dynamic-align
    icon="coronita:error">
    </cells-modal-alert>

  </template>

  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userId:{
            type: Number
          },
          accounts: {
            type: Array,
          },
          iban:{
            type: String
          },
          balance:{
            type: String
          },
          currency:{
            type: String
          },
          iscontrato:{
            type: Boolean
          },
          alias:{
            type: String
          }
        };
      }

      getAccounts(userId){
        this.userId = userId
        this.$.getAccounts.generateRequest()
      }

      manageAccountResponse(data){
        this.iscontrato = true
        this.accounts=data.detail.response
      }

      manageAccountErrorResponse(error){
        this.dispatchEvent(new CustomEvent("eventerroraccounts", {"detail":{}}))
      }

      getMovements(e){
        var iban = e.model.item.iban;
        this.dispatchEvent(new CustomEvent("eventaccounts", {"detail":{"iban":iban}}))
      }

      goPutAccount(e){
        this.iban = e.model.item.iban;
        this.alias = e.model.item.alias;
        this.balance = e.model.item.balance;
        this.currency = e.model.item.currency;
        this.dispatchEvent(new CustomEvent("eventputaccount", {"detail":{"iban":this.iban, "alias":this.alias, "balance":this.balance, "currency":this.currency}}))
      }

      goputuser(e){
        var first_name = window.sessionStorage.getItem('first_name')
        var last_name = window.sessionStorage.getItem('last_name')
        this.dispatchEvent(new CustomEvent("eventputuser", {"detail":{"userId":this.userId, "first_name":first_name, "last_name":last_name}}))
      }

      postaccount(){
        this.$.postAccount.params.userId = this.userId
        this.$.postAccount.generateRequest()
      }

      managePostAccountResponse(data){
        this.$.getAccounts.params.userId = this.userId
        this.err_message = "La nueva cuenta se ha dado de alta correctamente.";
        this.$.successbox.content = this.err_message;
        this.$.successbox.open()
        this.$.getAccounts.generateRequest()
      }

      manageErrorPostAccountResponse(error){
        this.error_message = "Error en el alta de la cuenta nueva";
        this.$.errorbox.content = this.error_message;
        this.$.errorbox.open()
      }

      gologout(e){
        this.$.doLogout.params = this.userId;
        this.$.doLogout.generateRequest();
      }

      manageLogoutResponse(data){
        var first_name=  this.first_name;
        var last_name=  this.last_name;
        var userId= this.userId;
        this.logado = true
        this.err_message = "El logout se ha realizado correctamente ";
        this.dispatchEvent(new CustomEvent("eventlogout", {"detail":{"userId":userId, "first_name":first_name, "last_name":last_name }}))
      }

      manageErrorLogoutResponse(error){
        this.error_message = "Error al hacer el logout";
        this.$.errorbox.content = this.error_message;
        this.$.errorbox.open()
      }

      deleteAccount(e){
        this.iban = e.model.item.iban;
        this.alias = e.model.item.alias;
        this.balance = e.model.item.balance;
        this.currency = e.model.item.currency;
        var iban = this.iban
        this.$.deleteAccount.generateRequest();
      }

      manageDeleteAccountResponse(data){
        var userId = window.sessionStorage.getItem('userId');
        var first_name=  this.first_name;
        var last_name=  this.last_name;
        this.err_message = "La cuenta se ha cancelado correctamente.";
        this.$.successbox.content = this.err_message;
        this.$.successbox.open()
        this.dispatchEvent(new CustomEvent("eventloadaccounts", {"detail":{"userId": userId, "first_name":first_name, "last_name":last_name }}))
      }

      manageErrorDeleteAccountResponse(error){
        this.error_message = "No es posible borrar la cuenta, el saldo de su cuenta es: " + this.balance + " "+ this.currency + ".\nLe redirigimos a movimientos para que realice un movimiento para dejar la cuenta a 0. ";
        this.$.infobox.content = this.error_message;
        this.$.infobox.open()
      }

      _continuar(){
        this.dispatchEvent(new CustomEvent("eventaccounts", {"detail":{"iban":this.iban}}))
      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
