<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-modal-alert/cells-modal-alert.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../bower_components/cells-bottom-modal/cells-bottom-modal.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">


<dom-module id="registro-usuario">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <style>
     :host {
       display: block;
       width: 100%;
       text-align: center;
     }
     .titulo-green-30{
       color: MediumAquaMarine ;
       font-weight: bold;
       font-size: 30px
     }
     paper-button {
        background-color: MediumAquaMarine;
        color: white;
     }
   </style>


   <iron-ajax
    id="doNewUser"
    url="http://localhost:3000/lowcostbank/v1/users/"
    method = "POST"
    handle-a = "json"
    content-type = "application/json"
    on-response = "manageSaveResponse"
    on-error = "manageSaveErrorResponse">
 </iron-ajax>

    <div class="jumbotron" align="left">
      <div class="titulo-green-30">Introduzca sus datos</div><br>
      <paper-input id="nombre"
                  label="Nombre"
                  value="{{userdata.first_name::input}}"
                  required
                  auto-validate
                  pattern="[a-zA-Z]*"
                  error-message="Sólo se permiten valores alfabéticos">
      </paper-input>
      <paper-input id="apellido"
                  label="Apellido"
                  value="{{userdata.last_name::input}}"
                  required
                  auto-validate
                  pattern="[a-zA-Z]*"
                  error-message="Sólo se permiten valores alfabéticos">
      </paper-input>
      <paper-input id="poblacion"
                  label="Población"
                  value="{{userdata.city::input}}"
                  required
                  auto-validate
                  pattern="[a-zA-Z]*"
                  error-message="Sólo se permiten valores alfabéticos">
      <iron-icon icon="home" slot="prefix"></iron-icon>
      </paper-input>

      <paper-input id="email"
                  label="Email"
                  value="{{userdata.email::input}}"
                  required
                  auto-validate
                  error-message="Cuenta de correo invalida"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <iron-icon icon="mail" slot="prefix"></iron-icon>
        </paper-input>
        <paper-input id="password"
                  value="{{userdata.password::input}}"
                  label="Password"
                  type="password"
                  required
                  auto-validate
                  error-message="Minimo 8 caracteres, un numero, mayusculas y minusculas"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        <iron-icon icon="https" slot="prefix"></iron-icon>
        </paper-input>
        <paper-input id="passwordrepeated"
                  value="{{passwordrepeated::input}}"
                  label="Password again"
                  type="password"
                  required
                  auto-validate
                  error-message="Minimo 8 caracteres, un numero, mayusculas y minusculas"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        <iron-icon icon="https" slot="prefix"></iron-icon>
        </paper-input>
        <br><br>

        <div class="container">
          <paper-button raised on-click="doNewUser">Nuevo alta</paper-button>
          <paper-button raised on-click="goLogin">Volver login</paper-button>
        </div><br><br>
      </div>
    </div>

    <cells-modal-alert
    toast
    id='alertbox'
    type="warning"
    icon="coronita:alert">
    </cells-modal-alert>

    <cells-modal-alert
    toast
    id='infobox'
    type="info"
    icon="coronita:info">
    </cells-modal-alert>

    <cells-modal-alert
    toast
    id='errorbox'
    type="error"
    horizontal-align="left" dynamic-align
    icon="coronita:error">
    </cells-modal-alert>

    <cells-modal-alert
    id='successbox'
    type="success"
    icon="coronita:donation">
    </cells-modal-alert>

 </template>


 <script>



   class RegistroUsuario extends Polymer.Element {
     static get is() { return 'registro-usuario'; }
     static get properties() {
       return {
         userId: {
           type: String,
           value: ""
         },
         userdata: {
           type: Object,
           value: {}
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         city: {
           type: String
         },
         email: {
           type: String
         },
         password: {
           type: String
         }
      };
     }

     manageSaveResponse(resultado){
       this.dispatchEvent(new CustomEvent("eventnew", {"detail":{"id":resultado.detail.response.userId, "email":resultado.detail.response.email}}))
     }

     doNewUser(){
      if (this.userdata.password != this.passwordrepeated) {
        this.err_message = "Las contraseñas no son iguales, inténtelo de nuevo ";
        this.$.errorbox.content = this.err_message;
        this.$.errorbox.open()
      } else{
        window.sessionStorage.setItem('city', this.city )
        var newuserData = JSON.parse(JSON.stringify(this.userdata));
        this.$.doNewUser.body = JSON.stringify(newuserData);
        this.$.doNewUser.generateRequest();
        this.err_message = "Nuevo usuario dado de alta correctamente ";
        this.$.successbox.content = this.err_message;
        this.$.successbox.open()
      }
     }

     manageSaveErrorResponse(error){
        this.error_message = "Error en el registro delusuario";
        this.$.errorbox.content = this.error_message;
        this.$.errorbox.open()
       }

     goLogin(){
        this.dispatchEvent(new CustomEvent("eventlogin", {"detail":{}}))
      }

   }

   window.customElements.define(RegistroUsuario.is, RegistroUsuario);
 </script>
</dom-module>
