<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/cells-modal-alert/cells-modal-alert.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../bower_components/cells-bottom-modal/cells-bottom-modal.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">


<dom-module id="modificar-cuenta">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

    :host {
    display: block;
    }

    .titulo-green-20{
    color: MediumAquaMarine ;
    font-weight: bold;
    font-size: 20px
    }

    .container{
    @apply(--layout-horizontal);
    @apply(--layout-center-justified);
    }

    paper-input{
    max-width: 400px;
    margin: auto;
    }

    paper-item{
    max-width: 400px;
    margin: auto;
    }

    paper-button {
    background-color: MediumAquaMarine;
    color: white;
    }

    </style>

    <iron-ajax
     id="putAccount"
     url="http://localhost:3000/lowcostbank/v1/accounts/{{iban}}"
     handle-as="json"
     content-type="application/json"
     method="PUT"
     on-response="managePutAccountResponse"
     on-error="manageErrorPutAccountResponse"/>
    </iron-ajax>

    <div class="jumbotron" align="left">
        <div class="titulo-green-20" align="center">Va a modificar la cuenta {{iban}}</div>
                    <paper-input id="iban"
                                label="IBAN"
                                value="{{iban}}">
                    </paper-input>
                    <paper-input id="balance"
                                label="Saldo"
                                value="{{balance}} {{currency}}">
                    </paper-input>
                    <paper-input id="alias"
                                label="Nombre"
                                value="{{alias}}">
                    </paper-input><br><br>
        <div class="titulo-green-20" align="center">Modifique el nombre de su cuenta: </div>
                      <paper-input id="alias"
                                  label="Nuevo nombre"
                                  type="text"
                                  value="{{alias::input}}"
                                  required
                                  auto-validate
                                  error-message="Campo obligatorio">
                         </paper-input></br>
          <div class="container">
                    <paper-button raised class="custom indigo" on-click="putaccount">Confirmar</paper-button>
                    <paper-button raised-button colored paper-shadow-top-z1 with custom-ripple on-click="goaccounts">Cancelar</paper-button>
                  </div></br>

                  <cells-modal-alert
                  toast
                  id='errorbox'
                  type="error"
                  horizontal-align="left" dynamic-align
                  icon="coronita:error">
                  </cells-modal-alert>

      </template>

  <script>

    class ModificarCuenta extends Polymer.Element {
      static get is() { return 'modificar-cuenta'; }
      static get properties() {
        return {
          iban:{
            type: String
          },
          userId: {
            type: Number
          },
          alias:{
            type: String
          }
        };
      }

      putaccount(e){
        var iban = e.currentTarget.iban
        this.$.putAccount.body = JSON.stringify({'alias' : this.alias});
        this.$.putAccount.params = iban;
        this.$.putAccount.generateRequest();
       }


      managePutAccountResponse(data){
        var userId = data.detail.response.userId
        this.dispatchEvent(new CustomEvent("eventloadaccounts", {"detail":{"userId": userId}}))
      }

      manageErrorPutAccountResponse(error){
        this.error_message = "Error al modificarl la cuenta";
        this.$.errorbox.content = this.error_message;
        this.$.errorbox.open()
      }

      goaccounts(){
        var userId = this.userId
        this.dispatchEvent(new CustomEvent("eventresturnaccounts", {"detail":{}}))
      }

    }

    window.customElements.define(ModificarCuenta.is, ModificarCuenta);
  </script>
</dom-module>
