<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/cells-modal-alert/cells-modal-alert.html">

<dom-module id="modificar-usuario">
 <template>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <style>

   :host {
   display: block;
   }

   .titulo-green-30{
   color: MediumAquaMarine ;
   font-weight: bold;
   font-size: 30px
   }

   .container{
   @apply(--layout-horizontal);
   @apply(--layout-center-justified);
   }

   paper-input{
   max-width: 400px;
   margin: auto;
   }

   paper-item{
   max-width: 400px;
   margin: auto;
   }

   paper-button {
   background-color: MediumAquaMarine;
   color: white;
   }

   </style>


   <iron-ajax
    id="putUser"
    url="http://localhost:3000/lowcostbank/v1/users/{{userId}}"
    method = "PUT"
    handle-a = "json"
    content-type = "application/json"
    on-response = "manageSaveResponse"
    on-error = "manageSaveErrorResponse">
 </iron-ajax>

<div class="jumbotron" align="left">
    <div class="titulo-green-30" align="center">Hola {{first_name}} {{last_name}} </div><br><br>
    <p class="text-muted">A continuación puede modificar sus datos personales</p><br>
                   <paper-input id="nombre"
                               label="Nuevo nombre"
                               type="text"
                               value="{{first_name::input}}"
                               required
                               auto-validate
                               error-message="Campo obligatorio">
                    </paper-input>
                    <paper-input id="apellido"
                               label="Nuevo apellido"
                               type="text"
                               value="{{last_name::input}}"
                               required
                               auto-validate
                               error-message="Campo obligatorio">
                      </paper-input></br>
       <div class="container">
                 <paper-button raised on-click="putuser">Confirmar</paper-button>
                 <paper-button raised on-click="goaccounts">Cancelar</paper-button>
               </div></br>

               <cells-modal-alert
               id='successbox'
               type="success"
               icon="coronita:donation">
               </cells-modal-alert>

               <cells-modal-alert
               toast
               id='errorbox'
               type="error"
               horizontal-align="left" dynamic-align
               icon="coronita:error">
               </cells-modal-alert>

               <cells-modal-alert
               toast
               id='errorbox'
               type="error"
               horizontal-align="left" dynamic-align
               icon="coronita:error">
               </cells-modal-alert>

  </template>

 <script>

   class ModificarUsuario extends Polymer.Element {
     static get is() { return 'modificar-usuario'; }
     static get properties() {
       return {
         userId: {
           type: String,
           value: ""
         },
         userdata: {
           type: Object,
           value: {}
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         }
      };
     }


     putuser(e){
       this.$.putUser.body = JSON.stringify({'first_name' : this.first_name, "last_name" : this.last_name});
       var userId = this.userId
       this.$.putUser.generateRequest();
       this.err_message = "Modificación realizada con éxito, volvemos a cuentas.";
       this.$.successbox.content = this.err_message;
       this.$.successbox.open()
        }


     manageSaveResponse(resultado){
      window.sessionStorage.setItem('first_name', resultado.detail.response.first_name );
      window.sessionStorage.setItem('last_name', resultado.detail.response.last_name );
      this.dispatchEvent(new CustomEvent("eventloadaccounts", {"detail":{"userId":resultado.detail.response.userId, "first_name":resultado.detail.response.first_name, "last_name":resultado.detail.response.last_name}}))
        }

     manageSaveErrorResponse(error){
       this.error_message = "Error al modificar el usuario";
       this.$.errorbox.content = this.error_message;
       this.$.errorbox.open()
        }

     goaccounts(){
       this.dispatchEvent(new CustomEvent("eventresturnaccounts", {"detail":{}}))     }
        }

   window.customElements.define(ModificarUsuario.is, ModificarUsuario);
 </script>
</dom-module>
