<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/cells-modal-alert/cells-modal-alert.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../bower_components/cells-bottom-modal/cells-bottom-modal.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">


<dom-module id="alta-movimiento">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
  :host {
  display: block;
  }

  .titulo-green-20{
  color: MediumAquaMarine ;
  font-weight: bold;
  font-size: 20px
  }

  .container{
  @apply(--layout-horizontal);
  @apply(--layout-center-justified);
  }

  paper-input{
  max-width: 400px;
  margin: auto;
  }

   paper-button {
   background-color: MediumAquaMarine;
   color: white;
  }

</style>


    <iron-ajax
    id="postMovement"
    url="http://localhost:3000/lowcostbank/v1/accounts/{{iban}}/movements"
    method="POST"
    handle-as="json"
    content-type="application/json"
    on-response="manageMovementResponse"
    on-error="manageMovementErrorResponse">
    </iron-ajax>

    <div class="jumbotron" align="left">
        <div class="titulo-green-20" align="center">Alta nuevo movimiento para su cuenta {{iban}}</div>
         <paper-input id="importe"
                     label="Importe"
                     value="{{amount::input}}"
                     required
                     auto-validate
                     pattern="^[+-]?\d+(,\d{2})?"
                     error-message="Importe obligatorio. Hasta dos decimales.">
         </paper-input>
         <paper-input id="moneda"
                       label="Moneda"
                       value="{{currency::input}}"
                       required
                       auto-validate
                       pattern="[a-zA-Z]{3}"
                       error-message="Moneda obligatoria. 3 caracteres tipo EUR, DOL ...">
           </paper-input>
           <paper-input id="descripcion"
                       label="Descripción"
                       type="text"
                       value="{{detail::input}}"
                       required auto-validate error-message="Campo obligatorio">
              </paper-input>
        </br>
       <div class="container">
         <paper-button raised on-click="postMovement">Confirmar</paper-button>
         <paper-button raised on-click="goMovements">Cancelar</paper-button>
       </div>
          </br>

          <cells-modal-alert
          toast
          id='errorbox'
          type="error"
          horizontal-align="left" dynamic-align
          icon="coronita:error">
          </cells-modal-alert>

  </template>

  <script>

    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
        return {
          iban:{
            type: String
          },
          amount:{
            type: Number
          },
          currency:{
            type: String
          },
          type:{
            type: String
          },
          movementId:{
            type: Number
          },
          detail:{
            type: String
          }
        };
      }

      postMovement(e){
        var amount2 = parseFloat(this.amount)
        var movementdata = {"amount":amount2,"currency": this.currency, "detail":this.detail};
        var iban = this.iban;
        this.$.postMovement.body = JSON.stringify(movementdata)
        this.$.postMovement.generateRequest();
       }

      manageMovementResponse(data){
        var iban = this.iban
        this.dispatchEvent(new CustomEvent("eventloadmovements", {"detail":{"iban": iban}}))
      }

      manageMovementErrorResponse(error){
        this.error_message = "Error en el alta del movimiento";
        this.$.errorbox.content = this.error_message;
        this.$.errorbox.open()
      }

      goMovements(){
        var iban = this.iban
        this.dispatchEvent(new CustomEvent("eventreturnmovements", {"detail":{"iban": iban}}))
      }

    }

    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
