<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/cells-modal-alert/cells-modal-alert.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../bower_components/cells-bottom-modal/cells-bottom-modal.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../VTB.jpg">

<dom-module id="salir-usuario">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

    :host {
    display: block;
    }

    .titulo-green-40{
        color: MediumAquaMarine ;
        font-weight: bold;
        font-size: 40px
      }

    .container{
    @apply(--layout-horizontal);
    @apply(--layout-center-justified);
    }

    paper-button {
    background-color: MediumAquaMarine;
    color: white;
    }

    </style>

    <div class="jumbotron" align="left">
        <img src="VTB.jpg" alt="Logo VTB" width=150 height=80 align="right"><br><br>
        <div class="titulo-green-40" align="center">Hasta pronto {{first_name}} {{last_name}} </div><br><br>
        <p class="text-muted">Esperamos volver a verle pronto de nuevo y le deseamos que disfrute del dia.</p>
        <p class="text-muted">Aquí le dejamos el tiempo en su ciudad</p><br>
        <footer id="temperature">  </footer>
        <footer id="humidity">  </footer>
        <footer id="windspeed">  </footer>
        <footer id="icon">  </footer></br></br>
    <div class="container">
        <paper-button on-click="volverlogin">Volver login</paper-button>
        <paper-button on-click="cerrarventana">Salir</paper-button>
    </div>
    </div>


    <cells-modal-alert
    toast
    id='errorbox'
    type="error"
    horizontal-align="left" dynamic-align
    icon="coronita:error">
    </cells-modal-alert>


          <iron-ajax auto
          id="getWeather"
          url="http://api.openweathermap.org/data/2.5/weather?q=Madrid&units=metric&APPID=2ef7a2f79b19a4488508e5300979031e"
          method="GET"
          on-response="manageWeatherResponse"
          on-error = "manageWeatherErrorResponse">
          </iron-ajax>

 </template>

 <script>

   class SalirUsuario extends Polymer.Element {
     static get is() { return 'salir-usuario'; }
     static get properties() {
       return {
       };
       }

       volverlogin(){
         this.dispatchEvent(new CustomEvent("eventlogin", {"detail":{}}))
       }
        cerrarventana(){
          window.close()
        }

       manageWeatherResponse (data){
         var image="http://openweathermap.org/img/w/"+data.detail.response.weather[0].icon+".png";
         var temperature = "Temperatura: "+data.detail.response.main.temp+" °С, con una minima de "+data.detail.response.main.temp_min+" °С y una maxima de "+data.detail.response.main.temp_max+" °С";
         var humidity ="Humedad: " + data.detail.response.main.humidity +" %"
         var windspeed ="Velocidad del viento: " + data.detail.response.wind.speed +" km/h"
         var icon =" <img src='"+image+"' align='middle'></img>"
         this.$.temperature.innerHTML=temperature;
         this.$.humidity.innerHTML=humidity;
         this.$.windspeed.innerHTML=windspeed;
         this.$.icon.innerHTML=icon;
       }

       manageWeatherErrorResponse(e) {
         this.error_message = "Error enla llamada a Weather API";
         this.$.errorbox.content = this.error_message;
         this.$.errorbox.open()
       }

 }

   window.customElements.define(SalirUsuario.is, SalirUsuario);
 </script>
</dom-module>
