<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="cancelar-movimiento">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

    :host {
    display: block;
    }

    .titulo-green-20{
    color: MediumAquaMarine ;
    font-weight: bold;
    font-size: 20px
    }

    .container{
    @apply(--layout-horizontal);
    @apply(--layout-center-justified);
    }

    paper-button {
    background-color: MediumAquaMarine;
    color: white;
    }

    </style>

    <div class="jumbotron" align="left">
        <div class="titulo-green-20" align="center">Cancelación del movimiento {{movementId}}</div></br>
        <p class="text-muted">Lo sentimos, no es posible cancelar un movimiento  por este canal. </p>
        <p class="text-muted">Diríjase a su oficina más cercana y estaremos encantados de ayudarle. </p></br>
    <div class="container">
        <paper-button raised class="custom indigo" on-click="gomovements">Aceptar</paper-button>
    </div>
    </div>

  </template>

  <script>

    class CancelarMovimiento extends Polymer.Element {
      static get is() { return 'cancelar-movimiento'; }
      static get properties() {
        return {
          iban:{
            type: String
          },
          userId: {
            type: Number
          }
        };
      }

      gomovements(){
        var userId = this.userId
        this.dispatchEvent(new CustomEvent("eventresturnmovements", {"detail":{}}))
      }

    }

    window.customElements.define(CancelarMovimiento.is, CancelarMovimiento);
  </script>
</dom-module>
