<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/cells-modal-alert/cells-modal-alert.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../bower_components/cells-bottom-modal/cells-bottom-modal.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">


<dom-module id="modificar-movimiento">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

    :host {
    display: block;
    }

    .titulo-green-20{
    color: MediumAquaMarine ;
    font-weight: bold;
    font-size: 20px
    }

    .container{
    @apply(--layout-horizontal);
    @apply(--layout-center-justified);
    }

    paper-input{
    max-width: 400px;
    margin: auto;
    }

    paper-item{
    max-width: 400px;
    margin: auto;
    }

    paper-button {
    background-color: MediumAquaMarine;
    color: white;
    }

    </style>

    <iron-ajax
     id="putMovement"
     url="http://localhost:3000/lowcostbank/v1/movements/{{movementId}}"
     handle-as="json"
     content-type="application/json"
     method="PUT"
     on-response="managePutMovementResponse"
     on-error="manageErrorPutMovementResponse"/>
    </iron-ajax>

<div class="jumbotron" align="left">
    <div class="titulo-green-20" align="center">Modificar movimiento {{movementId}} de su cuenta {{iban}}</div>
                <paper-input id="importe"
                            label="Importe"
                            value="{{amount}} {{currency}}">
                </paper-input>
                <paper-input id="tipo"
                            label="Tipo"
                            value="{{type}}">
                </paper-input>
                <paper-input id="fecha"
                            label="Fecha"
                            value="{{date}}">
                </paper-input>
                <paper-input id="concepto"
                            label="Concepto"
                            value="{{detail}}">
                </paper-input><br><br>
    <div class="titulo-green-20" align="center">Modifique el concepto de su movimiento: </div>
                  <paper-input id="concepto"
                              label="Concepto"
                              type="text"
                              value="{{detail::input}}"
                              required
                              auto-validate
                              error-message="Campo obligatorio">
                     </paper-input></br>
      <div class="container">
                <paper-button raised on-click="putmovement">Confirmar</paper-button>
                <paper-button raised on-click="gomovements">Cancelar</paper-button>
              </div></br>

              <cells-modal-alert
              toast
              id='errorbox'
              type="error"
              horizontal-align="left" dynamic-align
              icon="coronita:error">
              </cells-modal-alert>

       </template>

  <script>

    class ModificarMovimiento extends Polymer.Element {
      static get is() { return 'modificar-movimiento'; }
      static get properties() {
        return {
          iban:{
            type: String
          },
          movementId:{
            type: String
          },
          userId: {
            type: Number
          },
          detail:{
            type: String
          },
          amount:{
            type: Number
          },
          currency:{
            type: String
          },
          type:{
            type: String
          },
          date:{
            type: Date
          }
        };
      }

      putmovement(e){
        var movementId = this.movementId
        var detail = e.currentTarget.detail
        this.$.putMovement.body = JSON.stringify({'detail' : this.detail});
        this.$.putMovement.generateRequest();
        }


      managePutMovementResponse(data){
        var iban = data.detail.response.iban
        this.dispatchEvent(new CustomEvent("eventloadmovements", {"detail":{"iban": iban}}))
        }

      manageErrorPutMovementResponse(error){
        this.error_message = "Error al modificar movimiento";
        this.$.errorbox.content = this.error_message;
        this.$.errorbox.open()
        }

      gomovements(){
        var iban = this.iban
        this.dispatchEvent(new CustomEvent("eventreturnmovements", {"detail":{"iban": iban}}))
        }

    }

    window.customElements.define(ModificarMovimiento.is, ModificarMovimiento);
  </script>
</dom-module>
