<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/salir-usuario/salir-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/error-cuentas/error-cuentas.html">
<link rel="import" href="/src/cancelar-movimiento/cancelar-movimiento.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<link rel="import" href="/src/registro-usuario/registro-usuario.html">
<link rel="import" href="/src/modificar-usuario/modificar-usuario.html">
<link rel="import" href="/src/error-logado/error-logado.html">
<link rel="import" href="/src/modificar-cuenta/modificar-cuenta.html">
<link rel="import" href="/src/modificar-movimiento/modificar-movimiento.html">
<link rel="import" href="/src/alta-movimiento/alta-movimiento.html">

<dom-module id="padre-director">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      [hidden]{
        display: none !important;
      }
      :host {
        display: block;
      }
    </style>

    <login-usuario hidden$={{estoylogado}} id="lgu"
    on-eventsignin="tosignin"
    on-eventlogged="tologged"
    on-eventnotlogged="tonotlogged"></login-usuario>

    <error-logado hidden$={{!isloginko}} id="erl"
    on-eventlogin="tologin"></error-logado>

    <salir-usuario hidden$={{!islogout}} id="slu"
    on-eventlogin="tologin"></salir-usuario>

    <registro-usuario hidden$={{!isregistro}} id="reu"
    on-eventnew="tonew"
    on-eventlogin="tologin"></registro-usuario>

    <modificar-usuario hidden$={{!isputuser}} id="pus"
    on-eventresturnaccounts="resturnaccounts"
    on-eventloadaccounts="toloadaccounts"></modificar-usuario>

    <visor-cuentas hidden$={{!iscontrato}} id="vsc"
    on-eventaccounts="toaccounts"
    on-eventerroraccounts="toerroraccounts"
    on-eventdeleteaccount="todeleteaccount"
    on-eventputaccount="toputaccount"
    on-eventputuser="toputuser"
    on-eventlogout="tologout"
    on-eventresturnaccounts="resturnaccounts"
    on-eventloadaccounts="toloadaccounts"></visor-cuentas>

    <error-cuentas hidden$={{!iscontratoko}} id="erc"
    on-eventlogged="tologged"></error-cuentas>

    <cancelar-movimiento hidden$={{!iscancelmvto}} id="cnm"
    on-eventresturnmovements="returnmovements"></cancelar-movimiento>

    <visor-movimientos hidden$={{!ismovimiento}} id="vsm"
    on-eventputmovement="toputmovement"
    on-eventpostmovement="topostmovement"
    on-eventerrormovements="toerrormovements"
    on-eventloadaccounts="toloadaccounts"
    on-eventdeletemovement="todeletemovement"
    on-eventputuser="toputuser"
    on-eventlogout="tologout"></visor-movimientos>

    <modificar-cuenta hidden$={{!isputaccount}} id="mdc"
    on-eventresturnaccounts="resturnaccounts"
    on-eventloadaccounts="toloadaccounts"></modificar-cuenta>

    <modificar-movimiento hidden$={{!isputmovement}} id="mdm"
    on-eventreturnmovements="returnmovements"
    on-eventloadmovements="toloadmovements"></modificar-movimiento>

    <alta-movimiento hidden$={{!ispostmovement}} id="alm"
    on-eventreturnmovements="returnmovements"
    on-eventloadmovements="toloadmovements"></modificar-cuenta>


  </template>

  <script>
    class PadreDirector extends Polymer.Element {
      static get is() { return 'padre-director'; }
      static get properties() {
        return {
          estoylogado:{
            type: Boolean,
            value:false
          },
          isloginko:{
            type: Boolean,
            value: false
          },
          idcliente:{
            type: String
          },
          iscontrato:{
            type: Boolean,
            value:false
          },
          ismovimiento:{
            type: Boolean,
            value:false
          },
          isregistro:{
            type: Boolean,
            value:false
          },
          isaltaok:{
            type: Boolean,
            value:false
          },
          showlogout:{
            type: Boolean,
            value:false
          },
          iscontratoko:{
            type: Boolean,
            value:false
          },
          ismvtoko:{
            type: Boolean,
            value:false
          },
          isconfirmarborr:{
            type: Boolean,
            value:false
          },
          iscancelmvto:{
            type: Boolean,
            value:false
          },
          isputaccount:{
            type: Boolean,
            value:false
          },
          ispostmovement:{
            type: Boolean,
            value:false
          },
          islogout:{
            type: Boolean,
            value:false
          },
          isputuser:{
            type: Boolean,
            value:false
          },
          isputmovement:{
            type: Boolean,
            value:false
          }

        };
      }


      tologged(e){
        var userId =  e.detail.userId
        this.userId = userId
        this.$.vsc.first_name = e.detail.first_name
        this.$.vsc.last_name = e.detail.last_name
        this.$.vsc.getAccounts(userId)
        this.estoylogado = true
        this.iscontrato = true
        this.showlogout = true
        this.iscontratoko = false
        this.islogout = false
      }

      tonotlogged(){
        this.estoylogado = true
        this.isloginko = true
        this.islogout = false
      }

      tosignin(e){
        this.isregistro = true
        this.estoylogado = true
        this.islogout = false
      }

      tonew(e){
        this.$.lgu.email = e.detail.email
        this.$.lgu.password = e.detail.password
        this.isaltaok = true
        this.isregistro = false
        this.islogout = false
        this.estoylogado = false
      }

      tologin(){
        this.estoylogado = false
        this.isloginko = false
        this.isregistro = false
        this.isaltaok = false
        this.islogout = false
      }

      toaccounts(e){
        var iban = e.detail.iban
        this.$.vsm.getMovementsbyAccount(iban)
        this.ismovimiento = true
        this.iscontrato = false
        this.ismvtoko = false
        this.islogout = false
        this.isconfirmarborr = false
      }

      toerroraccounts(e){
        this.iscontrato = false
        this.iscontratoko = true
        this.islogout = false
      }

      todeleteaccount(e){
        this.$.cnc.iban = e.detail.iban
        this.$.cnc.balance = e.detail.balance
        this.$.cnc.currency = e.detail.currency
        this.$.cnc.alias = e.detail.alias
        this.showlogout = false
        this.iscontrato = false
        this.isconfirmarborr = true
        this.islogout = false
      }

      todeletemovement(e){
        this.$.cnm.movementId = e.detail.movementId
        this.$.cnm.amount = e.detail.amount
        this.$.cnm.currency = e.detail.currency
        this.$.cnm.detail = e.detail.detail
        this.$.cnm.type = e.detail.type
        this.$.cnm.date = e.detail.date
        this.$.cnm.userId = this.userId
        this.$.cnm.iban = this.iban
        this.showlogout = false
        this.ismovimiento = false
        this.iscancelmvto = true
        this.islogout = false
      }

      toputaccount(e){
        this.$.mdc.iban = e.detail.iban
        this.$.mdc.balance = e.detail.balance
        this.$.mdc.currency = e.detail.currency
        this.$.mdc.alias = e.detail.alias
        this.showlogout = false
        this.iscontrato = false
        this.isputaccount = true
        this.islogout = false
      }

      toputuser (e){
        this.$.pus.userId = e.detail.userId
        this.$.pus.first_name = e.detail.first_name
        this.$.pus.last_name = e.detail.last_name
        this.showlogout = false
        this.iscontrato = false
        this.isputaccount = false
        this.isputuser = true
        this.islogout = false
        this.ismovimiento = false
      }

      toputmovement(e){
        this.$.mdm.iban = e.detail.iban
        this.$.mdm.movementId = e.detail.movementId
        this.$.mdm.amount = e.detail.amount
        this.$.mdm.currency = e.detail.currency
        this.$.mdm.detail = e.detail.detail
        this.$.mdm.date = e.detail.date
        this.$.mdm.type = e.detail.type
        this.showlogout = false
        this.iscontrato = false
        this.isputaccount = false
        this.isputmovement = true
        this.ismovimiento = false
        this.islogout = false
        this.ispostmovement =false
      }

      topostmovement(e){
      this.$.alm.iban = e.detail.iban
      var iban = this.$.alm.iban
      this.$.alm.amount =""
      this.$.alm.currency =""
      this.$.alm.detail =""
      this.showlogout = false
      this.iscontrato = false
      this.isputaccount = false
      this.islogout = false
      this.ispostmovement =true
      this.ismovimiento =false
      }

      toerrormovements(e){
        this.ismovimiento = false
        this.ismvtoko = true
        this.islogout = false
      }

      resturnaccounts(){
        this.ismvtoko = false
        this.isconfirmarborr = false
        this.ismovimiento = false
        this.iscontrato = true
        this.isputaccount =false
        this.islogout = false
        this.isputuser = false
      }

      returnmovements(){
        this.ismvtoko = false
        this.isconfirmarborr = false
        this.ismovimiento = true
        this.iscontrato = false
        this.isputmovement = false
        this.islogout = false
        this.ispostmovement =false
        this.iscancelmvto = false
      }

      toloadaccounts(e){
        var userId =  e.detail.userId
        this.userId = userId
        this.$.vsc.first_name = e.detail.first_name
        this.$.vsc.last_name = e.detail.last_name
        this.$.vsc.getAccounts(userId)
        this.estoylogado = true
        this.iscontrato = true
        this.showlogout = true
        this.iscontratoko = false
        this.islogout = false
        this.isputaccount =false
        this.isputuser =false
        this.isconfirmarborr =false
        this.ismvtoko = false
        this.ismovimiento =false
      }

      toloadmovements(e){
        var iban =  e.detail.iban
        this.iban = iban
        this.$.vsm.getMovementsbyAccount(iban)
        this.estoylogado = true
        this.iscontrato = false
        this.showlogout = true
        this.iscontratoko = false
        this.islogout = false
        this.isputaccount =false
        this.ispostmovement =false
        this.ismvtoko = false
        this.ismovimiento = true
        this.isputmovement =false
      }

      tologout(e){
        this.$.slu.first_name = e.detail.first_name
        this.$.slu.last_name = e.detail.last_name
        this.$.slu.userId= e.detail.userId
        this.estoylogado = true
        this.islogout = true
        this.iscontrato = false
        this.ismovimiento = false
      }



    }

    window.customElements.define(PadreDirector.is, PadreDirector);
  </script>
</dom-module>
